body {
  background: #1f1f1f; }

#coinz-head {
  background: #2b2b2b; }
  #coinz-head .head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100px; }
    #coinz-head .head > div:nth-child(1) {
      width: 225px; }
      #coinz-head .head > div:nth-child(1) img {
        margin-top: 8px;
        margin-left: 40px; }
    #coinz-head .head > div:nth-child(2) {
      width: 72%;
      display: flex;
      flex-direction: row;
      justify-content: space-between; }
      #coinz-head .head > div:nth-child(2) > div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background: -webkit-gradient(linear, 0 0, 0 100%, from(#4c4c4c), to(#3c3c3c));
        width: 290px;
        height: 50px;
        line-height: 50px;
        margin-top: 25px;
        border-radius: 8px; }
      #coinz-head .head > div:nth-child(2) > div.barr span {
        color: #b0b0b0;
        font-size: 16px;
        font-weight: bold;
        width: 70px;
        text-align: center;
        border-right: 1px solid #5b5b5b;
        margin: 1px 0; }
      #coinz-head .head > div:nth-child(2) > div.barr div {
        padding-right: 22px; }
        #coinz-head .head > div:nth-child(2) > div.barr div i {
          color: #fe1d1d;
          margin-left: 9px;
          font-size: 10px; }
        #coinz-head .head > div:nth-child(2) > div.barr div a {
          color: #fe1d1d; }
        #coinz-head .head > div:nth-child(2) > div.barr div strong {
          color: #ff9b19;
          margin-right: 24px;
          font-size: 16px;
          letter-spacing: 2px; }
      #coinz-head .head > div:nth-child(2) > div.barr .gree i {
        color: #00e818; }
      #coinz-head .head > div:nth-child(2) > div.barr .gree a {
        color: #00e818; }
      #coinz-head .head > div:nth-child(2) > div.barr2 span {
        color: #b0b0b0;
        font-size: 16px;
        font-weight: bold;
        width: 90px;
        text-align: center; }
      #coinz-head .head > div:nth-child(2) > div.barr2 strong {
        color: #ff9b19;
        font-size: 16px;
        letter-spacing: 2px;
        margin-right: 8px; }
    #coinz-head .head > div:nth-child(3) {
      width: 240px;
      padding-top: 20px;
      display: flex;
      flex-direction: row;
      justify-content: space-between; }
      #coinz-head .head > div:nth-child(3) dl {
        text-align: center;
        padding-left: 56px; }
        #coinz-head .head > div:nth-child(3) dl dt span {
          display: inline-block;
          width: 36px;
          height: 36px;
          line-height: 36px;
          text-align: center;
          border-radius: 50%;
          overflow: hidden; }
        #coinz-head .head > div:nth-child(3) dl dd {
          color: #fff;
          font-size: 12px;
          height: 24px;
          line-height: 24px; }
      #coinz-head .head > div:nth-child(3) .yuyan {
        padding-right: 20px;
        padding-top: 12px; }
        #coinz-head .head > div:nth-child(3) .yuyan a {
          padding-left: 22px; }
          #coinz-head .head > div:nth-child(3) .yuyan a img {
            width: 30px; }

#coinz-body {
  margin-top: 24px; }
  #coinz-body .body {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    #coinz-body .body > div:nth-child(1) {
      width: 225px; }
      #coinz-body .body > div:nth-child(1) .navs li a {
        display: inline-block;
        height: 76px;
        line-height: 76px;
        width: 194px;
        background: url("../images/index/bgbar.png") no-repeat left center;
        background-size: 100% 100%; }
        #coinz-body .body > div:nth-child(1) .navs li a i {
          font-size: 24px;
          color: #8e8e8e;
          margin-left: 14px; }
        #coinz-body .body > div:nth-child(1) .navs li a i.dow {
          font-size: 18px; }
        #coinz-body .body > div:nth-child(1) .navs li a span {
          display: inline-block;
          width: 149px;
          text-align: center;
          color: #7e7e7e; }
      #coinz-body .body > div:nth-child(1) .navs li.activ0 {
        background: url("../images/index/aa.png") no-repeat left center;
        background-size: 100% 100%; }
        #coinz-body .body > div:nth-child(1) .navs li.activ0 a {
          background: none; }
        #coinz-body .body > div:nth-child(1) .navs li.activ0 i {
          color: #fff;
          font-size: 26px; }
        #coinz-body .body > div:nth-child(1) .navs li.activ0 i.dow {
          font-size: 21px; }
        #coinz-body .body > div:nth-child(1) .navs li.activ0 span {
          color: #fff;
          font-weight: bolder; }
    #coinz-body .body > div:nth-child(2) {
      width: 72%;
      padding-top: 15px; }
      #coinz-body .body > div:nth-child(2) .center0 .table0 > p {
        margin: 0;
        height: 56px;
        line-height: 56px;
        background: -webkit-gradient(linear, 0 0, 0 100%, from(#4c4c4c), to(#3c3c3c));
        border-radius: 4px; }
        #coinz-body .body > div:nth-child(2) .center0 .table0 > p a {
          display: inline-block;
          height: 40px;
          line-height: 40px;
          width: 164px;
          text-align: center;
          color: #878787;
          border-radius: 6px;
          margin-left: 33px;
          font-size: 16px; }
        #coinz-body .body > div:nth-child(2) .center0 .table0 > p a.acti {
          background: #252525;
          color: #fff; }
      #coinz-body .body > div:nth-child(2) .center0 .table0 .boxs {
        background: #303030;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 2.3%;
        padding-bottom: 34px; }
        #coinz-body .body > div:nth-child(2) .center0 .table0 .boxs > div {
          color: #fff;
          width: 47%; }
          #coinz-body .body > div:nth-child(2) .center0 .table0 .boxs > div .btc {
            padding: 20px 0;
            display: flex;
            flex-direction: row;
            justify-content: space-between; }
            #coinz-body .body > div:nth-child(2) .center0 .table0 .boxs > div .btc span:nth-child(1) {
              font-size: 16px;
              font-weight: bolder;
              color: #ffa530; }
          #coinz-body .body > div:nth-child(2) .center0 .table0 .boxs > div .btns {
            background: -webkit-gradient(linear, 0 0, 0 100%, from(#4c4c4c), to(#3c3c3c));
            border-radius: 6px; }
            #coinz-body .body > div:nth-child(2) .center0 .table0 .boxs > div .btns a {
              padding-left: 46px;
              background: url("../images/index/bit5.png") no-repeat 12px center;
              height: 48px;
              line-height: 48px;
              display: block;
              text-align: center;
              color: #fff;
              letter-spacing: 1px; }
        #coinz-body .body > div:nth-child(2) .center0 .table0 .boxs .send .btc {
          border-bottom: 1px solid #585858; }
        #coinz-body .body > div:nth-child(2) .center0 .table0 .boxs .send label {
          height: 35px;
          line-height: 35px;
          margin-top: 8px;
          font-weight: normal; }
        #coinz-body .body > div:nth-child(2) .center0 .table0 .boxs .send p.labl {
          height: 30px;
          line-height: 30px;
          margin-bottom: 4px; }
        #coinz-body .body > div:nth-child(2) .center0 .table0 .boxs .send .input-group {
          background: #353535;
          border-radius: 40px;
          border-top: 1px solid #272727;
          border-bottom: 1px solid #666;
          overflow: hidden;
          width: 100%; }
          #coinz-body .body > div:nth-child(2) .center0 .table0 .boxs .send .input-group .input-group-addon {
            background-color: #414141;
            border: none;
            padding: 0;
            border-radius: 50%;
            width: 40px;
            height: 40px;
            line-height: 40px;
            text-align: center; }
          #coinz-body .body > div:nth-child(2) .center0 .table0 .boxs .send .input-group .form-control {
            color: #787878;
            border: none;
            box-sizing: border-box;
            background-color: transparent;
            height: 40px;
            line-height: 40px; }
          #coinz-body .body > div:nth-child(2) .center0 .table0 .boxs .send .input-group .bgB.form-control {
            background: url("../images/index/ALL.png") no-repeat right center; }
        #coinz-body .body > div:nth-child(2) .center0 .table0 .boxs .send .btns {
          width: 259px;
          margin-top: 27px; }
        #coinz-body .body > div:nth-child(2) .center0 .table0 .boxs .receive .btns {
          width: 220px; }
        #coinz-body .body > div:nth-child(2) .center0 .table0 .boxs .receive > p {
          color: #fd3838;
          font-size: 12px;
          height: 60px;
          line-height: 30px;
          margin-top: 16px;
          margin-bottom: 16px;
          border-bottom: 1px solid #585858; }
        #coinz-body .body > div:nth-child(2) .center0 .table0 .boxs .receive .smallbox .title0 {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          background: -webkit-gradient(linear, 0 0, 0 100%, from(#4c4c4c), to(#3c3c3c));
          padding: 0 16px;
          height: 57px;
          line-height: 57px; }
          #coinz-body .body > div:nth-child(2) .center0 .table0 .boxs .receive .smallbox .title0 strong {
            color: #ffbb57;
            letter-spacing: 1px; }
          #coinz-body .body > div:nth-child(2) .center0 .table0 .boxs .receive .smallbox .title0 span {
            cursor: pointer; }
        #coinz-body .body > div:nth-child(2) .center0 .table0 .boxs .receive .smallbox .con0 {
          padding: 0 16px;
          background: #505050;
          padding-bottom: 32px; }
          #coinz-body .body > div:nth-child(2) .center0 .table0 .boxs .receive .smallbox .con0 > table {
            width: 100%; }
            #coinz-body .body > div:nth-child(2) .center0 .table0 .boxs .receive .smallbox .con0 > table tbody {
              display: none; }
            #coinz-body .body > div:nth-child(2) .center0 .table0 .boxs .receive .smallbox .con0 > table tr {
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              text-align: center;
              height: 55px;
              line-height: 55px; }
              #coinz-body .body > div:nth-child(2) .center0 .table0 .boxs .receive .smallbox .con0 > table tr th {
                color: #cdcdcd; }
          #coinz-body .body > div:nth-child(2) .center0 .table0 .boxs .receive .smallbox .con0 > div {
            background: #5f5f5f;
            height: 40px;
            line-height: 40px;
            border: 1px solid #444444;
            color: #acacac;
            text-align: center; }
      #coinz-body .body > div:nth-child(2) .center0 .table0 .hidd {
        visibility: hidden;
        height: 0;
        width: 0;
        padding: 0;
        border: none; }
      #coinz-body .body > div:nth-child(2) .center0 .coinz {
        margin-top: 38px; }
        #coinz-body .body > div:nth-child(2) .center0 .coinz .boxs > div .btns a {
          background: url("../images/index/7coinz1.png") no-repeat 12px center; }
        #coinz-body .body > div:nth-child(2) .center0 .coinz .boxs .receive > p {
          height: 30px;
          line-height: 30px; }
      #coinz-body .body > div:nth-child(2) .center0 .portfolio {
        margin-top: 38px; }
        #coinz-body .body > div:nth-child(2) .center0 .portfolio .box-d {
          padding: 24px 0;
          text-align: center;
          background: #303030;
          display: flex;
          flex-direction: row;
          justify-content: space-around; }
          #coinz-body .body > div:nth-child(2) .center0 .portfolio .box-d strong {
            height: 40px;
            line-height: 40px;
            color: #fff;
            font-size: 16px;
            letter-spacing: 1px; }
          #coinz-body .body > div:nth-child(2) .center0 .portfolio .box-d .aed {
            color: #adadad;
            height: 34px;
            line-height: 34px; }
        #coinz-body .body > div:nth-child(2) .center0 .portfolio .box-d2 {
          background: #303030;
          margin-top: 12px;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          padding: 38px 0; }
          #coinz-body .body > div:nth-child(2) .center0 .portfolio .box-d2 > div {
            text-align: center;
            border-right: 1px solid #ffb24e;
            width: 33.3%;
            box-sizing: border-box; }
          #coinz-body .body > div:nth-child(2) .center0 .portfolio .box-d2 > div:last-child {
            border: none; }
          #coinz-body .body > div:nth-child(2) .center0 .portfolio .box-d2 .total-d {
            color: #adadad;
            font-size: 12px; }
          #coinz-body .body > div:nth-child(2) .center0 .portfolio .box-d2 strong {
            color: #f8bc2e;
            font-size: 16px;
            font-weight: bolder; }
    #coinz-body .body > div:nth-child(3) {
      width: 240px;
      padding-top: 15px; }
      #coinz-body .body > div:nth-child(3) .list-btn {
        position: relative; }
        #coinz-body .body > div:nth-child(3) .list-btn > div {
          position: absolute;
          width: 222px;
          background-size: 100% 100%; }
          #coinz-body .body > div:nth-child(3) .list-btn > div a {
            display: block;
            width: 222px;
            text-align: center; }
            #coinz-body .body > div:nth-child(3) .list-btn > div a strong {
              color: #ff3434;
              display: block;
              font-size: 16px;
              height: 36px;
              line-height: 36px; }
            #coinz-body .body > div:nth-child(3) .list-btn > div a span {
              color: #c0c0c0;
              font-size: 12px; }
            #coinz-body .body > div:nth-child(3) .list-btn > div a h5 {
              color: #fff;
              font-size: 16px;
              margin: 0; }
        #coinz-body .body > div:nth-child(3) .list-btn .btn-a {
          background: url("../images/index/yy.png") no-repeat left top; }
          #coinz-body .body > div:nth-child(3) .list-btn .btn-a a {
            height: 144px;
            padding-top: 58px;
            background: url("../images/index/bit4.png") no-repeat center 21px; }
        #coinz-body .body > div:nth-child(3) .list-btn .btn-b {
          background: url("../images/index/dd.png") no-repeat left top;
          top: 132px; }
          #coinz-body .body > div:nth-child(3) .list-btn .btn-b a {
            height: 144px;
            padding-top: 68px;
            background: url("../images/index/A.png") no-repeat center 33px; }
        #coinz-body .body > div:nth-child(3) .list-btn .btn-c {
          background: url("../images/index/ii.png") no-repeat left top;
          top: 265px; }
          #coinz-body .body > div:nth-child(3) .list-btn .btn-c a {
            height: 64px; }
            #coinz-body .body > div:nth-child(3) .list-btn .btn-c a h5 {
              height: 19px;
              line-height: 19px;
              margin-top: 18px; }
        #coinz-body .body > div:nth-child(3) .list-btn .btn-d {
          background: url("../images/index/4.png") no-repeat left top;
          top: 318px; }
          #coinz-body .body > div:nth-child(3) .list-btn .btn-d a {
            height: 138px;
            padding-top: 65px;
            background: url("../images/index/7coinz2.png") no-repeat center 30px; }
        #coinz-body .body > div:nth-child(3) .list-btn .btn-e {
          background: url("../images/index/cc.png") no-repeat left top;
          top: 446px; }
          #coinz-body .body > div:nth-child(3) .list-btn .btn-e a {
            padding: 12px 0;
            height: 90px; }
            #coinz-body .body > div:nth-child(3) .list-btn .btn-e a h5 {
              height: 28px;
              line-height: 28px; }
        #coinz-body .body > div:nth-child(3) .list-btn .btn-f {
          background: url("../images/index/bb.png") no-repeat left top;
          top: 521px; }
          #coinz-body .body > div:nth-child(3) .list-btn .btn-f a {
            height: 148px;
            padding-top: 76px;
            background: url("../images/index/bit4.png") no-repeat center 38px; }

.anniu {
  width: 22px;
  display: none;
  margin: 10px; }
  .anniu i {
    color: #fff;
    font-size: 20px; }

.btn2 {
  display: none;
  text-align: right;
  margin: 20px 10px; }
  .btn2 i {
    color: #fff;
    font-size: 20px; }

/*new add start*/
.flow {
  width: 100%;
  margin-bottom: 20px;
  display: none; }
  .flow ul {
    display: flex;
    align-items: center;
    border-radius: 4px;
    border: 1px solid #777777;
    overflow: hidden;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#262626), to(#2f2f2f)); }
    .flow ul li {
      height: 144px;
      width: 16%; }
      .flow ul li.f-one {
        width: 22%; }
      .flow ul li.f-two a {
        background: url(../images/index/A.png) no-repeat center 20px; }
      .flow ul li.f-three a {
        background: url(../images/index/7coinz2.png) no-repeat center 20px; }
      .flow ul li a {
        display: block;
        height: 144px;
        padding-top: 58px;
        background: url(../images/index/bit4.png) no-repeat center 20px;
        display: block;
        text-align: center; }
        .flow ul li a strong {
          color: #ff3434;
          display: block;
          font-size: 16px;
          height: 36px;
          line-height: 36px; }
        .flow ul li a span {
          color: #c0c0c0;
          font-size: 12px; }
      .flow ul li.bgnone a {
        background: none;
        display: flex;
        width: 100%; }
        .flow ul li.bgnone a i {
          display: inline-block;
          transform: rotate(-90deg); }
        .flow ul li.bgnone a h5 {
          line-height: 26px;
          height: 26px; }
          .flow ul li.bgnone a h5 span {
            padding: 0 10px;
            font-size: 16px; }

.box-table {
  width: 100%;
  text-align: center;
  padding: 24px 0;
  background: #303030; }
  .box-table table {
    width: 100%; }
    .box-table table thead tr {
      padding: 10px 0;
      color: #fff;
      font-size: 16px;
      letter-spacing: 1px; }
      .box-table table thead tr th {
        text-align: center; }
    .box-table table tbody tr {
      color: #adadad;
      height: 34px;
      line-height: 34px; }

/*new add end*/
@media (max-width: 1620px) {
  .head > div:nth-child(1) {
    width: 140px !important; }
    .head > div:nth-child(1) img {
      margin-left: 20px !important; }
  .head > div:nth-child(2) > div {
    width: 200px !important;
    height: 44px !important;
    line-height: 44px !important; }
  .head > div:nth-child(2) > div.barr span {
    font-size: 14px !important;
    width: 40px !important; }
  .head > div:nth-child(2) > div.barr div {
    padding-right: 10px !important; }
    .head > div:nth-child(2) > div.barr div i {
      margin-left: 4px !important; }
    .head > div:nth-child(2) > div.barr div strong {
      margin-right: 10px !important;
      font-size: 14px !important;
      letter-spacing: 0px !important; }
  .head > div:nth-child(2) > div.barr2 span {
    font-size: 14px !important;
    width: 50px !important; }
  .head > div:nth-child(2) > div.barr2 strong {
    font-size: 14px !important;
    letter-spacing: 0px !important;
    margin-right: 4px !important; }
  .head > div:nth-child(3) {
    width: 150px !important; }
    .head > div:nth-child(3) dl {
      padding-left: 0px !important; }
    .head > div:nth-child(3) .yuyan {
      padding-right: 10px !important; }
      .head > div:nth-child(3) .yuyan a {
        padding-left: 10px !important; }

  #coinz-body .body > div:nth-child(2) .center0 .table0 .boxs > div .btc {
    padding: 0; }

  #coinz-body .body > div:nth-child(2) {
    width: 60%; }

  div.btc {
    margin: 10px 0;
    padding: 0;
    flex-direction: column !important; }
    div.btc span:nth-child(1) {
      height: 40px;
      line-height: 40px; } }
@media (max-width: 1110px) {
  #coinz-body .body > div:nth-child(2) .center0 .table0 .boxs .receive > p {
    height: 90px; } }
@media (max-width: 1045px) {
  #coinz-head .head {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 450px; }
    #coinz-head .head > div:nth-child(1) {
      width: inherit !important; }
      #coinz-head .head > div:nth-child(1) img {
        margin-top: 30px;
        margin-left: 0 !important; }
    #coinz-head .head > div:nth-child(2) {
      width: inherit;
      flex-direction: column;
      justify-content: flex-start; }
      #coinz-head .head > div:nth-child(2) > div {
        width: 260px !important;
        margin-top: 20px; }
      #coinz-head .head > div:nth-child(2) > div.barr span {
        width: 70px !important; }
      #coinz-head .head > div:nth-child(2) > div.barr div {
        padding-right: 22px !important; }
        #coinz-head .head > div:nth-child(2) > div.barr div i {
          margin-left: 9px !important; }
        #coinz-head .head > div:nth-child(2) > div.barr div strong {
          margin-right: 20px !important; }
      #coinz-head .head > div:nth-child(2) > div.barr2 span {
        width: 80px !important; }
      #coinz-head .head > div:nth-child(2) > div.barr2 strong {
        margin-right: 24px !important; }

  /*new add*/
  .flow {
    display: block; }

  .anniu {
    display: block; }

  #coinz-body .body {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center; }
    #coinz-body .body > div:nth-child(1) {
      position: fixed;
      z-index: 999;
      left: 0;
      top: 10px;
      width: 200px; }
      #coinz-body .body > div:nth-child(1) .navs {
        display: none; }
        #coinz-body .body > div:nth-child(1) .navs li a {
          height: 50px;
          line-height: 50px;
          width: 169px; }
          #coinz-body .body > div:nth-child(1) .navs li a i {
            font-size: 18px;
            margin-left: 14px; }
          #coinz-body .body > div:nth-child(1) .navs li a i.dow {
            font-size: 14px; }
          #coinz-body .body > div:nth-child(1) .navs li a span {
            width: 126px; }
        #coinz-body .body > div:nth-child(1) .navs li.activ0 i {
          font-size: 18px; }
        #coinz-body .body > div:nth-child(1) .navs li.activ0 i.dow {
          font-size: 14px; }
        #coinz-body .body > div:nth-child(1) .navs li.activ0 span {
          font-weight: normal; }
    #coinz-body .body > div:nth-child(2) {
      width: 96%;
      padding-top: 15px; }
      #coinz-body .body > div:nth-child(2) .center0 .table0 > p {
        margin: 0;
        height: 56px;
        line-height: 56px;
        background: -webkit-gradient(linear, 0 0, 0 100%, from(#4c4c4c), to(#3c3c3c));
        border-radius: 4px; }
        #coinz-body .body > div:nth-child(2) .center0 .table0 > p a {
          display: inline-block;
          height: 40px;
          line-height: 40px;
          width: 164px;
          text-align: center;
          color: #878787;
          border-radius: 6px;
          margin-left: 33px;
          font-size: 16px; }
        #coinz-body .body > div:nth-child(2) .center0 .table0 > p a.acti {
          background: #252525;
          color: #fff; }
      #coinz-body .body > div:nth-child(2) .center0 .table0 .boxs {
        background: #303030;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 2.3%;
        padding-bottom: 34px; }
        #coinz-body .body > div:nth-child(2) .center0 .table0 .boxs > div {
          color: #fff;
          width: 47%; }
          #coinz-body .body > div:nth-child(2) .center0 .table0 .boxs > div .btc {
            padding: 0;
            display: flex;
            flex-direction: row;
            justify-content: space-between; }
            #coinz-body .body > div:nth-child(2) .center0 .table0 .boxs > div .btc span:nth-child(1) {
              font-size: 16px;
              font-weight: bolder;
              color: #ffa530; }
          #coinz-body .body > div:nth-child(2) .center0 .table0 .boxs > div .btns {
            background: -webkit-gradient(linear, 0 0, 0 100%, from(#4c4c4c), to(#3c3c3c));
            border-radius: 6px; }
            #coinz-body .body > div:nth-child(2) .center0 .table0 .boxs > div .btns a {
              padding-left: 46px;
              background: url("../images/index/bit5.png") no-repeat 12px center;
              height: 48px;
              line-height: 48px;
              display: block;
              text-align: center;
              color: #fff;
              letter-spacing: 1px; }
        #coinz-body .body > div:nth-child(2) .center0 .table0 .boxs .send .btc {
          border-bottom: 1px solid #585858; }
        #coinz-body .body > div:nth-child(2) .center0 .table0 .boxs .send label {
          height: 35px;
          line-height: 35px;
          margin-top: 8px;
          font-weight: normal; }
        #coinz-body .body > div:nth-child(2) .center0 .table0 .boxs .send p.labl {
          height: 30px;
          line-height: 30px;
          margin-bottom: 4px; }
        #coinz-body .body > div:nth-child(2) .center0 .table0 .boxs .send .input-group {
          background: #353535;
          border-radius: 40px;
          border-top: 1px solid #272727;
          border-bottom: 1px solid #666;
          overflow: hidden;
          width: 100%; }
          #coinz-body .body > div:nth-child(2) .center0 .table0 .boxs .send .input-group .input-group-addon {
            background-color: #414141;
            border: none;
            padding: 0;
            border-radius: 50%;
            width: 40px;
            height: 40px;
            line-height: 40px;
            text-align: center; }
          #coinz-body .body > div:nth-child(2) .center0 .table0 .boxs .send .input-group .form-control {
            color: #787878;
            border: none;
            box-sizing: border-box;
            background-color: transparent;
            height: 40px;
            line-height: 40px; }
          #coinz-body .body > div:nth-child(2) .center0 .table0 .boxs .send .input-group .bgB.form-control {
            background: url("../images/index/ALL.png") no-repeat right center; }
        #coinz-body .body > div:nth-child(2) .center0 .table0 .boxs .send .btns {
          width: 259px;
          margin-top: 27px; }
        #coinz-body .body > div:nth-child(2) .center0 .table0 .boxs .receive .btns {
          width: 220px; }
        #coinz-body .body > div:nth-child(2) .center0 .table0 .boxs .receive > p {
          color: #fd3838;
          font-size: 12px;
          height: 60px;
          line-height: 30px;
          margin-top: 16px;
          margin-bottom: 16px;
          border-bottom: 1px solid #585858; }
        #coinz-body .body > div:nth-child(2) .center0 .table0 .boxs .receive .smallbox .title0 {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          background: -webkit-gradient(linear, 0 0, 0 100%, from(#4c4c4c), to(#3c3c3c));
          padding: 0 16px;
          height: 57px;
          line-height: 57px; }
          #coinz-body .body > div:nth-child(2) .center0 .table0 .boxs .receive .smallbox .title0 strong {
            color: #ffbb57;
            letter-spacing: 1px; }
          #coinz-body .body > div:nth-child(2) .center0 .table0 .boxs .receive .smallbox .title0 span {
            cursor: pointer; }
        #coinz-body .body > div:nth-child(2) .center0 .table0 .boxs .receive .smallbox .con0 {
          padding: 0 16px;
          background: #505050;
          padding-bottom: 32px; }
          #coinz-body .body > div:nth-child(2) .center0 .table0 .boxs .receive .smallbox .con0 > p {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            height: 55px;
            line-height: 55px; }
            #coinz-body .body > div:nth-child(2) .center0 .table0 .boxs .receive .smallbox .con0 > p a {
              color: #cdcdcd; }
          #coinz-body .body > div:nth-child(2) .center0 .table0 .boxs .receive .smallbox .con0 > div {
            background: #5f5f5f;
            height: 40px;
            line-height: 40px;
            border: 1px solid #444444;
            color: #acacac;
            text-align: center; }
      #coinz-body .body > div:nth-child(2) .center0 .table0 .hidd {
        visibility: hidden;
        height: 0;
        width: 0;
        padding: 0;
        border: none; }
      #coinz-body .body > div:nth-child(2) .center0 .coinz {
        margin-top: 38px; }
        #coinz-body .body > div:nth-child(2) .center0 .coinz .boxs > div .btns a {
          background: url("../images/index/7coinz1.png") no-repeat 12px center; }
        #coinz-body .body > div:nth-child(2) .center0 .coinz .boxs .receive > p {
          height: 30px;
          line-height: 30px; }
      #coinz-body .body > div:nth-child(2) .center0 .portfolio {
        margin-top: 38px; }
        #coinz-body .body > div:nth-child(2) .center0 .portfolio .box-d {
          padding: 24px 0;
          text-align: center;
          background: #303030;
          display: flex;
          flex-direction: row;
          justify-content: space-around; }
          #coinz-body .body > div:nth-child(2) .center0 .portfolio .box-d strong {
            height: 40px;
            line-height: 40px;
            color: #fff;
            font-size: 16px;
            letter-spacing: 1px; }
          #coinz-body .body > div:nth-child(2) .center0 .portfolio .box-d .aed {
            color: #adadad;
            height: 34px;
            line-height: 34px; }
        #coinz-body .body > div:nth-child(2) .center0 .portfolio .box-d2 {
          background: #303030;
          margin-top: 12px;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          padding: 38px 0; }
          #coinz-body .body > div:nth-child(2) .center0 .portfolio .box-d2 > div {
            text-align: center;
            border-right: 1px solid #ffb24e;
            width: 33.3%;
            box-sizing: border-box; }
          #coinz-body .body > div:nth-child(2) .center0 .portfolio .box-d2 > div:last-child {
            border: none; }
          #coinz-body .body > div:nth-child(2) .center0 .portfolio .box-d2 .total-d {
            color: #adadad;
            font-size: 12px; }
          #coinz-body .body > div:nth-child(2) .center0 .portfolio .box-d2 strong {
            color: #f8bc2e;
            font-size: 16px;
            font-weight: bolder; }
    #coinz-body .body > div:nth-child(3) {
      position: absolute;
      z-index: 999;
      top: 0;
      right: 0;
      width: 222px;
      padding-top: 0px; }
      #coinz-body .body > div:nth-child(3) .list-btn {
        height: 668px;
        overflow: hidden;
        display: none;
        background: #1f1f1f; } }
@media (max-width: 800px) {
  #coinz-body .body > div:nth-child(2) .center0 .table0 .boxs {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center; }
    #coinz-body .body > div:nth-child(2) .center0 .table0 .boxs > div {
      width: 100%; }

  #coinz-body .body > div:nth-child(2) .center0 .table0 > p a {
    width: 120px;
    font-size: 14px;
    margin-left: 10px; }

  #coinz-body .body > div:nth-child(2) .center0 .portfolio .box-d {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center; }
    #coinz-body .body > div:nth-child(2) .center0 .portfolio .box-d > div {
      margin-bottom: 20px; }
    #coinz-body .body > div:nth-child(2) .center0 .portfolio .box-d #coinz-body .body > div:nth-child(2) .center0 .portfolio {
      padding-bottom: 50px; } }
@media (max-width: 830px) {
  .flow ul {
    display: block; }

  .flow ul li.f-one {
    width: 100%; }

  .flow ul li {
    width: 100%;
    height: 120px; }
    .flow ul li a {
      height: 120px; }

  .flow ul li.bgnone a {
    display: block;
    padding: 24px 0; }
    .flow ul li.bgnone a h5 span {
      display: block; }
    .flow ul li.bgnone a h5 i {
      transform: rotate(0deg); } }
@media (max-width: 680px) {
  .box-table .box-table-content {
    width: 98%;
    margin: 0  auto;
    overflow-x: scroll;
    padding: 10px 0; }
    .box-table .box-table-content::-webkit-scrollbar-track {
      border-radius: 10px;
      background-color: #5f5f5f; }
    .box-table .box-table-content::-webkit-scrollbar {
      width: 0px;
      height: 10px; }
    .box-table .box-table-content::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background-color: #414141; }
  .box-table table {
    width: 700px; } }

/*# sourceMappingURL=index.css.map */
