@mixin flex-between{ display: flex; flex-direction: row; justify-content: space-between; }

body,html{ height: 100%;}
.login{@include flex-between;
  height: 100%;
  background:url("../images/common/bg.png");

  >div:nth-child(1){
    width: 56.25%;
    height: 100%;
    position: relative;
    background:url("../images/common/left-bg.png") no-repeat right center;
    background-size:cover;
    .logo0{ position: absolute; top: 50%; left: 45%; transform: translate(-50%,-50%);
    }
  }
  >div:nth-child(2){
    .ecn{
      text-align: right;
      padding-right: 46px;
      margin-top: 48px;
      a{padding-left: 34px;
        span{ margin: 0 4px; color: #676767;}
      }

    }

    .fom{
      margin-right:150px;
      padding-top:  8%;
      width: 526px;
      text-align: center;
      >h4{ font-size: 30px; margin-bottom: 30px; font-weight: bold;}
      .btn0{
        text-align: center;
        padding-top: 20px;
        a{ font-size: 18px; border-radius: 8px; height:50px; text-align: center; line-height: 50px; width: 400px; display: inline-block; background: #f13232; color: #fff; }
      }
      .link0{
        @include flex-between;
        margin-top:20px;
        font-weight: bold;
        a{ color: #8e8e8e; text-transform: uppercase; }
        .red0{ color: #ff3a3a;}
      }
      form{ text-align: left;}
      .row0{@include flex-between;
        >div:first-child{ margin-right: 2px;}
      input{box-sizing: border-box;
        height: 36px; line-height: 36px;
      }}


    }


  }
}
@media (max-width: 1200px) {
  .login{
    display: block;
    background: url(../images/common/bg.png) repeat-y;
  }
  .login > div:nth-child(2) .fom{
    // width: 96%;
    width: 100%;
    margin-right: 0;
    padding: 20px 2%;
    background: url(../images/common/bg.png) repeat-y;
  }
  .login > div:nth-child(2) .fom form{
    width: 96%;
    margin: 0 auto;
  }
  .login > div:nth-child(1){
    width: 100%;
    height: 40%;
    background: url("../images/common/left-bg.png") repeat center;
    background-size: 160% 160%;
  }
  .login > div:nth-child(1) .logo0{ left: 50%;}
  .login > div:nth-child(1) .logo0 a > img{
    width: 80%;
  }
  .login > div:nth-child(2) .fom .btn0 a{
    width: 100%;
  }
  .login > div:nth-child(2) .fom .link0{
    display: flex;
    font-size: 12px;
    justify-content: space-between;
    margin-top: 20px;
  }
  .login > div:nth-child(2) .fom .link0 a{
    display: block;
    text-align: left;
    margin-right: 0 !important;
  }
  .login > div:nth-child(2) .ecn{
    margin-top: 20px;
    padding-right: 20px;
  }
  .login > div:nth-child(2) .fom > h4{
    margin-bottom: 40px;
  }

}
@media (max-width: 414px){
  .login > div:nth-child(2) .fom .row0{flex-direction: column;}
  .login > div:nth-child(2) .fom .row0>div{margin: 0; padding: 0;}

}




