/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*base.css*/
@charset "utf-8";
/*样式重置*/
html{font-size: 625%;}
body, h1, h2,h3,h4,h5,h6,p,dl,dd,ol,ul,li,form, input,textarea,th,td,select,header,section,footer,nav{ margin:0; padding:0;}
em,i { font-style:normal;}
li { list-style:none;}
a { text-decoration:none!important; cursor:pointer; color:#000; }

a:focus {outline:none;}
b{ font-weight:normal;}
img { border:none;}
input, textarea {vertical-align: middle;outline: none; border:none; background:none;box-sizing:content-box;}
textarea { resize:none; overflow:auto; }
label{font-weight: normal;}
table { border-spacing:0px; border:none; border-collapse:collapse; }
body, input, select, button, textarea { font-size: 14px;font-family:mr,tahoma,arial,'Hiragino Sans GB',\5b8b\4f53,sans-serif;background:#fff;}

/*文本溢出隐藏不换行*/
.ov-ellipsis { overflow:hidden; white-space:nowrap; text-overflow:ellipsis; display:block;}

.content{
    max-width: 1200px;
    margin: 0 auto;
}

